*{
    background-color: #c0e6ff ;
    padding: 12px;
}
.menu{
    font-size: x-large;
    justify-content: end;
    text-align: end;
    border: 4px solid transparent;
    border-radius: 5px 5px;
   
}
a{
    text-decoration: none;
    background-color: transparent;
    color: rgb(248, 111, 111);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
