*{
    background-color: #c0e6ff ;
        margin: 0px;

}
.menu{
    font-size: xx-large;
    justify-content: end;
    text-align: end;
    background-color: white;
    padding: 12px;
    border: 4px solid transparent;
    text-shadow: 1px 1px 2px rgb(17, 17, 17);
    word-spacing: 20px;

   
}
a{
    text-decoration: none;
    background-color: transparent;
    color: rgb(248, 111, 111);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: justify;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin: 20px;
    background-color: aliceblue;
    border: 12px transparent;
    border-radius: 12px ;
    box-shadow: 1px 1px 5px;
    padding: 12px;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
    padding-top: 20px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: initial;


}

#seemore{

    margin: auto;
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: orangered;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    border: 5px transparent;
    border-radius: 12px ;
    box-shadow: 1px 1px 2px black;

}