*{
    background-color: #c0e6ff ;
    padding: 12px;
}
.menu{
    font-size: x-large;
    justify-content: end;
    text-align: end;
    border: 4px solid transparent;
    background-color: aliceblue;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 2px black;
    border-radius: 5px 5px;
   
}
a{
    text-decoration: none;
    background-color: transparent;
    color: rgb(248, 111, 111);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: justify;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    background-color: aliceblue;
    border: 12px transparent;
    border-radius: 12px ;
    box-shadow: 1px 1px 5px;
    padding: 12px;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: initial;


}

#seemore{

    margin: auto;
    width: 200px;
    display: block;
    background-color: red;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    border: 5px transparent;
    border-radius: 12px ;

}