*{
    margin: 0px;
}


header{
    
    
    background-color: rgb(204, 102, 107);
    border: 12px tr;
    padding: 50px;
    border: 12px transparent;
    border-radius: 0px 0px 7px 7px ;
    box-shadow: 1px 1px 5pxpx black;
}
.glass{

    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1{

    font-size: xx-large;
    margin: 0;   
}
h5{
    margin: auto;
    display: block;
    margin: 12px;
    text-align: center;
    color: white;

}
.menu{
    font-size: xx-large;
    justify-content: end;
    text-align: end;
    background-color: white;
    padding: 12px;
    border: 4px solid transparent;
    border-radius: 5px 5px;
    word-spacing: 20px;


}
.topbar{
    text-decoration: none;
    background-color: transparent;
    color: rgb(46, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.maindiv{

    margin: 12px;
    display: flex;
}
.box{
    margin: 12px;
    width: 50%;
}
.hlorem{
        margin: 12px;
        padding: 12px;
        letter-spacing: 1px;
        color: rgb(59, 59, 59);
        text-shadow: 2px 2px 15px #ffffff;
        justify-content: center;
        text-align: center;

}
.deialcontrac{
    text-align: center;
    text-decoration: underline;
}

footer{
    height: 100px;
    display: flex;
    text-align: center;
    padding: 12px;
    margin: auto;
    justify-content: center;
    background-color: rgb(204, 102, 107);
}
.footerdiv{
     background-color:  rgb(204, 102, 107);
    justify-content: center;
    padding-top: 20px;
}
a{
    text-decoration: none;
    background-color: transparent;
    color: rgb(233, 0, 0);
    text-shadow: 1px 1px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}