*{
    background-color: #ffc0cb ;
    padding: 12px;
}

img{

    margin: auto;
    padding: 12px;
    width: 60% ;

}

.menu{
    font-size: x-large;
    justify-content: end;
    text-align: end;
    border: 4px solid transparent;
    border-radius: 5px 5px;
    text-shadow: 1px 1px 2px black;



}
.topbar{
    text-decoration: none;
    background-color: transparent;
    color: rgb(46, 45, 45);
        text-shadow: 1px 1px 2px rgb(51, 50, 50);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.culture{
    text-decoration: none;
    background-color: transparent;
    color: rgb(17, 0, 255);
        text-shadow: 1px 1px 2px rgb(51, 50, 50);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.maindiv{

    display: flex;
}
.box{
    width: 50%;
}

#hlorem{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 1px;
        color: rgb(59, 59, 59);
        text-shadow: 2px 2px 15px #ffffff;

}

p{
    text-align: justify;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    
}

#seemore{

    margin: auto;
    width: 200px;
    display: block;
    background-color: red;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;

}