header{
    
    
    background-color: rgb(32, 59, 59);
    border: 12px tr;
    padding: 100px;
    border: 12px transparent;
    border-radius: 0px 0px 7px 7px ;
    box-shadow: 1px 1px 5pxpx black;
}
*{
    margin: 0px;
}

.glass{

    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px black;
    color: rgb(255, 255, 255);
    font-family: fantasy;
}
h1{

    font-size: xx-large;
    margin: 0;   
}
.reflection{

    transform: scaleY(-1);
    opacity: 0.3;
    
}
.maindiv{

    display: flex;
    padding: 20px;
}
.box{
    width: 30% ;
    margin: 5px;
}

.profilediv{

    padding-left: 100px;
}
#imgdiv{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#profileimg{

    height: 50%;
    width: 50%;
    border: 12px solid transparent;
    border-radius: 180%;
}
#hlorem{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 1px;
        color: rgb(59, 59, 59);
        text-shadow: 2px 2px 15px #ffffff;

}

.profiletext{

    text-align: start;
    font-size: large;

}
.pdetail{
    text-align: justify;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

.menu{
    font-size: xx-large;
    justify-content: end;
    text-align: center;
    margin-bottom: 20px;
    background-color: aliceblue;
    box-shadow: 1px 1px 2px black;
    border: 4px solid transparent;
    text-shadow: 1px 1px 2px rgb(102, 102, 102);
    border-radius: 5px 5px;
    word-spacing: 7px;
   
}
a{
    text-decoration: none;
    background-color: transparent;
    color: rgb(32, 59, 59);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


footer{
    height: 100px;
    background-color: rgb(32, 59, 59);
    margin: 0px;
}

h4{
    padding:40px;
    text-align: center;
    color: rgb(194, 195, 196);
    
}