*{
    background-color: #cacaca ;
    margin: 0px;
}
.menu{
    font-size: xx-large;
    justify-content: end;
    text-align: end;
    background-color:  rgb(45, 48, 78);
    padding: 12px;
    border: 4px solid transparent;
    border-radius: 5px 5px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    word-spacing: 20px;


}
.topbar{
    text-decoration: none;
    background-color: transparent;
    color: rgb(172, 155, 250);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    background-color: transparent;
    color: rgb(233, 0, 0);
    text-shadow: 1px 1px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{

    margin: auto;
    padding: 12px;
    width: 100% ;
    justify-content: center;
    border: 12px transparent;
    border-radius: 20px 20px ;
    box-shadow: -2px -2px 4px ,2px 2px 4px rgb(0, 0, 0);

}

.maindiv{

    margin: 12px;
    display: flex;
}
.box{
    margin: 12px;
    padding: 20px;
    width: 50%;
}

h4{
    margin: auto;
    display: flex;
    text-align: center;
    font-size: x-large;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    
}

button{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 9px;
    margin-bottom: 12px;
    background-color: rgb(132, 104, 255);
    color: #ffffff; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    border: 8px solid transparent;
    box-shadow: 1px 1px 2px black;
    border-radius: 7px;
    
}

h3{
    text-align: center;
    justify-content: center;
    color: rgb(153, 154, 155);
    background-color: transparent;
    word-spacing: 4px;
}
footer{
    height: 100px;
    display: flex;
    text-align: center;
    padding: 12px;
    margin: auto;
    justify-content: center;
    background-color: rgb(45, 48, 78);
}
.footerdiv{
     background-color:  rgb(45, 48, 78);
    justify-content: center;
    padding-top: 20px;
}